.button-panel {
  margin: 10px;
}

.button-panel button {
  margin-right: 10px;
}

.button-panel button svg {
  margin-right: 3px;
}

.index-form .form-group {
  margin-bottom: 0;
}

.index-form h4 {
  margin-top: 10.5px
}
